.main-content {
  background: linear-gradient(-45deg, #f5f3f3, #ba9ea9, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.person-container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  

  .text-container{
    h2{
      text-align: center;
    }
    p{
      text-align: left;
      margin-left: 25px;
      margin-right: 25px;
    }

  }
}

.person {
 
  border-radius: 8px;
  padding: 20px;
  color: #333333;
  font-size: 25px;
  background-color: #f5f5f5a6;
}

.image-container {
  
  text-align: center;
  border-radius: 8px;
  border-width: 3px;
  border-style: dashed;
  border-color: #6267d9;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Media query para pantallas más pequeñas, como tablets y teléfonos */
@media (max-width: 1100px) {

  .main-content{
    .person-container {
      flex-direction: column;
  
      .image-container{
        margin-left: 50px;
        margin-right: 50px;
        img {
          max-width: 100%;
          height: auto;
          margin-bottom: 50px;
          
        }
      }
      .text-container{
        p{
          text-align: center;
        }
      }

    }
  }
}

